<!-- Header -->
<div class="inner-wrapper" data-ng-controller="HeaderController">
    <div class="logo"></div>		

    <div class="right" data-ng-hide="global.authenticated">
        <div class="row">
            Merhaba, Sistemi kullanmak için lütfen giriş yapınız.
        </div>
        <div class="row">
            <a ui-sref='auth.register'>Register</a>
            <a ui-sref='auth.login'>Login</a>
        </div>
    </div>

    <div class="right" data-ng-show="global.authenticated">
        <div class="row">
            Merhaba, <b>{{ global.user.name }}</b>
        </div>
        <div class="row">
            <a href="/logout" title="" class="logout">ÇIKIŞ</a>
            <a href="add-project.html" title="" class="new">YENİ FİKİR</a>
            <a href="admin.html" title="" class="user">ADMIN PANELİ</a>
        </div>
    </div>

</div>
<!-- Header END -->
