{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Proje Havuzu</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'pool/css/style.css' %}">
</head>
<body class="login">
<div class="login">
	<div class="logo"></div>
	<form action="{% url 'auth_login' %}" method="post" class="textfield-wrapper">{% csrf_token %}
		<input type="text" name="username" value="" placeholder="EPOSTA ADRESİ">
		<input type="password" name="password" value="" placeholder="PAROLA">
		<input type="submit" name="" value="GİRİŞ">
	</form>
</div>
</body>
</html>