{% load staticfiles pool_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Project Pool - {% block title %}Dashboard{% endblock %}</title>
	<meta charset="UTF-8" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "pool/css/style.css" %}">
    <link rel="stylesheet" href="{% static "pool/css/jquery.custom-scrollbar.css" %}">
    <script src="{% static "js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.custom-scrollbar.concat.min.js" %}" type="text/javascript"></script>
	<script src="{% static "pool/js/index.js" %}" type="text/javascript"></script>
	<script src="{% static "pool/js/search.js" %}" type="text/javascript"></script>
</head>
<body>
    {% block header %}
        <!-- Header -->
        <div class="header">
            <div class="inner-wrapper">
                <a href="{% url 'pool:user_dashboard' %}"><div class="logo"></div></a>		
                <div class="right">
                    <div class="row">
                        Merhaba, <b>{{ request.user.first_name|default_if_none_or_empty:request.user.username }}</b>
                    </div>
                    <div class="row">
                        <a href="{% url 'auth_logout' %}" title="" class="logout">ÇIKIŞ</a>
                        <a href="{% url 'pool:cms_idea_creation' %}" title="" class="new">YENİ FİKİR</a>
                        {% if user.is_staff %}
                            <a href="{% url 'pool:cms_idea_list' %}" title="" class="user">ADMIN PANELİ</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>	
        <!-- Header END -->
    {% endblock %}

    {% block search %}
        {% get_brands as brands %}
        {% get_categories as categories %}
        {% get_budgets as budgets %}
        <!-- Search -->
        <div class="search">
            <div class="inner-wrapper">
                <div class="left">
                    <form action="{% url 'pool:search' %}" method="get" accept-charset="utf-8">
                        <input type="text" name="q" value="" placeholder="Marka adı, fikir adı, fikir detayı ara..">
                    </form>
                </div>
                <div class="right">
                    <a href="#" title="Detaylı arama"></a>
                </div>
            </div>	
            <!-- Search Detail -->
            <div class="detail">
                <form action="{% url 'pool:search' %}" method="get" accept-charset="utf-8">
                    <div class="row">
                        <div id="ddlBrands" class="select">
                            <span>Sunulan Marka</span>
                            <div class="list">
                                <div class="scroller">
                                    {% for brand in brands.all %}
                                    <div class="check"><input type="checkbox" {% if brand.id in offerred_brand_ids %}checked="checked"{% endif %} data-id="{{ brand.id }}" id="chckBrand{{ forloop.counter }}" name="offerred_brands" value="{{ brand.id }}"/><label for="chckBrand{{ forloop.counter }}">{{ brand.name }}</label></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <div id="ddlBrandsSold" class="select">
                            <span>Satılan Marka</span>
                            <div class="list">
                                <div class="scroller">
                                    {% for brand in brands.all %}
                                        <div class="check"><input type="checkbox" {% if brand.id in dealt_brand_ids %}checked="checked"{% endif %} data-id="{{ brand.id }}" id="chckBrand{{ forloop.counter }}" name="dealt_brands" value="{{ brand.id }}"/><label for="chckBrand{{ forloop.counter }}">{{ brand.name }}</label></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="ddlCategories" class="select">
                            <span>Kategori</span>
                            <div class="list">
                                <div class="scroller">
                                    {% for category in categories.all %}
                                    <div class="check"><input type="checkbox" {% if category.id in category_ids %}checked="checked"{% endif %}  data-id="{{ category.id }}" id="chckCategory{{ category.id }}" name="categories" value="{{ category.id }}" /><label for="chckCategory{{ category.id }}">{{ category.name }}</label></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="ddlBudgets" class="select">
                            <span>Bütçe aralığı</span>
                            <div class="list">
                                <div class="scroller">
                                    {% for budget in budgets.all %}
            {% if '1' in budget_ids %}checked="checked"{% else %}{{ budget_ids }}{% endif %}
                                    <div class="check"><input type="checkbox" {% if budget.id in budget_ids %}checked="checked"{% endif %}  data-id="{{ budget.id }}" id="chckBudget{{ budget.id }}" name="budgets" value="{{ budget.id }}"/><label for="chckBudget{{ budget.id }}">${{ budget.start }}- ${{ budget.end }}</label></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <input id="dtFirst" type="text" class="datepicker" name="start_date" value="{% if start_date %}{{ start_date }}{% endif %}" placeholder="">
                        <input id="dtSecond" type="text" class="datepicker" name="end_date" value="{% if end_date %}{{ end_date }}{% endif %}" placeholder="">
                        Tarihleri arasında
                    </div>
                    <div class="row">
                        <input id="txtDetail" type="text" name="q" value="{% if q %}{{ q }}{% endif %}" placeholder="Keywords" class="keys" />
                        <input id="bttnSearch" type="submit" name="" value="GETİR" />
                    </div>
                </form>
                <a href="#" title="Kapat" class="close"></a>
            </div>	
            <!-- Search Detail END -->
        </div>	
        <!-- Search END-->
    {% endblock %}

    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}No content{% endblock %}

    {% block footer %}
        <!-- Footer -->
        <div class="footer">
            &nbsp;
        </div>
        <!-- Footer END -->
    {% endblock %}
</body>
</html>
