{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="content">
	<div class="inner-wrapper">
		<!-- Sub Menu -->
        {% with current_sub_page='brands' %}
        {% include 'pool/cms/common/sub_menu_for_cms.html' %}
        {% endwith %}
		<!-- Sub Menu END -->
		<br>
    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}
		<br>
		<!-- Add Client -->
		<form action="" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="title">
				Alt limit
			</div>
			<div class="elements">
				{{ form.start }}
			</div>
		</div>
		<div class="row">
			<div class="title">
				Üst limit
			</div>
			<div class="elements">
				{{ form.end }}
			</div>
		</div>
		<div class="row">
			<div class="title">&nbsp;</div>
			<div class="elements">
				<input type="submit" name="" value="BÜTÇEYİ EKLE">
			</div>
		</div>
		</form>
		<!-- Add Client END -->
	</div>
</div>
<!-- Content END -->
{% endblock %}
