{% extends "base.html" %}

{% block content %}
<!-- Content -->
    <div class="content">
        <div class="inner-wrapper">
            {% with current_sub_page='budgets' %}
                {% include 'pool/cms/common/sub_menu_for_cms.html' %}
            {% endwith %}
    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}

            <form action="{% url 'pool:cms_budget_multiple_delete' %}" method="post">{% csrf_token %}
                <table class="grid">
                    <tbody>
                        {% for budget in budgets %}
                            <tr class="description">
                                <td colspan="7">
                                    <div class="buttons">
                                        <input type="checkbox" id="chck01" name="budget_id[]" value="{{ budget.id }}">
                                        <a href="{% url 'pool:cms_budget_updation' pk=budget.pk %}" title="Güncelle" class="edit"></a>
                                        <a href="{% url 'pool:cms_budget_delete' pk=budget.id %}" title="Sil" class="delete"></a>
                                    </div>
                                    <div class="text">{{ budget }}</div>
                                </td>
                            </tr>
                            <tr class="space"><td colspan="7"></td></tr>
                        {% empty %}
                            Hic marka yok
                        {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                    <div class="paging">
                        {% if budgets.has_previous %}
                            <a href="?page={{ budgets.previous_page_number }}" title="İlk sayfa" class="first">&lt;</a>
                        {% endif %}

                        {% for num in paginator.page_range %}
                            {% ifequal num ideas.number %}
                            <a href="?page={{ budgets.number }}" title="" class="number active">{{ num }}</a>
                            {% else %}
                            <a href="?page={{ num }}" title="" class="number">{{ num }}</a>
                            {% endifequal %}
                        {% endfor %}

                        {% if budgets.has_next %}
                            <a href="?page={{ budgets.next_page_number }}" title="İlk sayfa" class="last">&lt;</a>
                        {% endif %}
                    </div>
                {% endif %}

                <input type="submit" value"Seçili markaları sil" class="roll-back" />
            </form>
        </div>
    </div>
{% endblock %}
