{% extends "base.html" %}

{% block content %}    
<!-- Content -->
<div class="content">
	<div class="inner-wrapper">
		<br>
    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}
		<br>
		<form action="" method="post">{% csrf_token %}
    	<p>Are you sure you want to delete "{{ object }}"?</p>
    	<br>
    	<input type="submit" value="Confirm" />
		</form>
	</div>
</div>
</form>
<!-- Content END -->
{% endblock %}
