{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="content">
	<div class="inner-wrapper">
        {% if in_cms %}
            {% include 'pool/cms/common/sub_menu_for_cms.html' with current_sub_page='ideas' %}
        {% else %}
            {% include 'pool/cms/common/sub_menu_for_projects.html' with current_sub_page='ideas' %}
        {% endif %}
    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}

		<!-- Projects -->
		<table class="grid">
			<tr>
				<th colspan="2">Fikir adı</th>
				<th colspan="1">Sunulan Markalar</th>
				<th colspan="1">Satılan Markalar</th>
				<th colspan="1">Kategoriler</th>
				<th colspan="1">Bütçe aralığı</th>
				<th colspan="1">Tarih</th>
			</tr>
            {% for idea in ideas %}
                <!-- One Project -->
                <tr class="title">
                    <td colspan="2">{{ idea.name|truncatechars:25 }}</td>
                    <td colspan="1">{{ idea.offerred_brands.all|join:", "|truncatechars:25 }}</td>
                    <td colspan="1">{{ idea.dealt_brands.all|join:", "|truncatechars:25 }}</td>
                    <td colspan="1">{{ idea.categories.all|join:", "|truncatechars:25 }}</td>
                    <td colspan="1">{{ idea.budget.all }}</td>
                    <td colspan="1">{{ idea.date|date:"d.m.Y" }}</td>
                </tr>
                <tr class="description">
                    <td colspan="7">
                        {% if in_cms %}
                            <div class="buttons">
                                <input type="checkbox" id="chck_{{ idea.id }}">
                                <a href="{% url 'pool:cms_idea_updation' pk=idea.pk %}" title="Güncelle" class="edit"></a>
                                <a href="{% url 'pool:cms_idea_deletion' pk=idea.pk %}" title="Sil" class="delete"></a>
                            </div>
                        <div class="text long admin">
                        {% else %}
                        <div class="text long">
                        {% endif %}
                            <div class="left">
                                <span>{{ idea.summary|urlizetrunc:15 }}</span>
                                <span class="detail">{{ idea.detail|urlize|linebreaksbr }}</span>
                            </div>
                            <div class="right">
                                <a class="expand" title="Proje detayı"></a>
                                <a class="settings" title=""></a>
                                <div class="settingsMenu">
                                    <a href="{% url 'pool:cms_idea_updation' pk=idea.pk %}" class="edit">Fikri düzenle</a>
                                    <span></span>
                                    <a href="{% url 'pool:cms_idea_deletion' pk=idea.pk %}" class="delete">Fikri sil</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="space"><td colspan="7"></td></tr>
			<!-- One Project END -->
            {% empty %}
                <tr class="description">
                    <td colspan="7">
                        <div class="text long">
                            No project ideas
                        </div>
                    </td>
                </tr>
            {% endfor %}
		</table>
		<!-- Projects END-->

		<!-- Paging -->
        {% if is_paginated %}
            <div class="paging">
                {% if ideas.has_previous %}
                    <a href="?page={{ ideas.previous_page_number }}" title="İlk sayfa" class="first">&lt;</a>
                {% endif %}

                {% for num in paginator.page_range %}
                    {% ifequal num ideas.number %}
                    <a href="?page={{ ideas.number }}" title="" class="number active">{{ num }}</a>
                    {% else %}
                    <a href="?page={{ num }}" title="" class="number">{{ num }}</a>
                    {% endifequal %}
                {% endfor %}

                {% if ideas.has_next %}
                    <a href="?page={{ ideas.next_page_number }}" title="İlk sayfa" class="last">&lt;</a>
                {% endif %}
            </div>
        {% endif %}
		<!-- Paging END -->
	</div>
</div>
<!-- Content END -->
{% endblock %}
