{% extends "base.html" %}
{% load pool_tags %}

{% block content %}

    <div class="content">
        <div class="inner-wrapper">
            {% include 'pool/cms/common/sub_menu_for_projects.html' with current_sub_page='creation' %}

    {% if messages %}
    <div class="warning">
        {% for message in messages %}
        <span>!</span>{{ message|safe }} 
        {% endfor %}
    </div>
    {% endif %}
    {% if form.non_field_errors %}
    <div class="warning">
        {% for error in form.non_field_errors %}
        <span>!</span>{{ error|safe }} 
        {% endfor %}
    </div>
    {% endif %} 

            <!-- Add Idea -->
            <form action="" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="title">
                        Fikir adı
                    </div>
                    <div class="elements">
                        {{ form.name }}{{ form.name.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        Fikir özeti
                    </div>
                    <div class="elements">
                        <textarea id="id_summary" maxlength="255" name="summary">{{ form.summary.value|default_if_none:"" }}</textarea>{{ form.summary.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        Fikir detayı
                    </div>
                    <div class="elements">
                        <textarea id="id_detail" name="detail" class="big">{{ form.detail.value|default_if_none:"" }}</textarea>{{ form.detail.errors }}
                    </div>
                </div>
                {% get_brands as brands %}
                <div class="row">
                    <div class="title">
                        Sunulan markalar
                    </div>
                    <div class="elements">
                        {% for brand in brands.all %}
                            <input type="checkbox" name="offerred_brands" id="chckMar{{ brand.id }}" value="{{ brand.id }}"
                            {% if brand in idea.offerred_brands.all %}checked="checked" %}{% endif %}>
                            <label for="chckMar{{ brand.id }}">{{ brand.name }}</label>
                        {% endfor %}
                    </div>
                    {{ form.offerred_brands.errors }}
                </div>
                <div class="row">
                    <div class="title">
                        Satılan markalar
                    </div>
                    <div class="elements">
                        {% for brand in brands.all %}
                            <input type="checkbox" name="dealt_brands" id="p_chckMar_{{ brand.id }}" value="{{ brand.id }}"
                            {% if brand in idea.dealt_brands.all %}checked="checked" %}{% endif %}>
                            <label for="p_chckMar_{{ brand.id }}">{{ brand.name }}</label>
                        {% endfor %}
                    </div>
                    {{ form.dealt_brands.errors }}
                </div>
                {% get_categories as categories %}
                <div class="row">
                    <div class="title">
                        Kategoriler
                    </div>
                    <div class="elements">
                        {% for category in categories.all %}
                            <input type="checkbox" name="categories" id="chckKat_{{ category.id }}" value="{{ category.id }}"
                            {% if category in idea.categories.all %}checked="checked"{% endif %}>
                            <label for="chckKat_{{ category.id }}">{{ category.name }}</label>
                        {% endfor %}
                    </div>
                </div>
                {{ form.categories.errors }}
                {% get_budgets as budgets %}
                <div class="row">
                    <div class="title">
                        Bütçe aralığı
                    </div>
                    <div class="elements">
                        <select name="budget">
                            <option value="" selected="" disabled="disabled">Seçiniz</option>
                            {% for budget in budgets.all %}
                            <option value="{{ budget.id }}" {% ifequal budget idea.budget %}selected="selected"{% endifequal %} >{{ budget }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ form.budget.errors }}
                </div>
                <div class="row">
                    <div class="title">&nbsp;</div>
                    <div class="elements">
                        <input type="submit" name="" value="FİKRİ EKLE">
                    </div>
                </div>
            </form>
            <!-- Add Idea END -->
        </div>
    </div>

{% endblock %}
